extends layout


block content
    // wrapper
    #wrapper
        //header
        header#header
            .logo
                span.icon.fa-diamond
            .content
                .inner
                    h1 好識共創
                    p 用不同的視角，帶你看見不同世界
            //nav
            nav
                ul
                     li 
                        a(href="#work1") 變羊記
                     li 
                        a(href="#work2") 解凍人生
                     li 
                        a(href="#about") 關於我們
                     li 
                        a(href="#contact") 聯絡好識
        // main
        #main
            // 作品1
            article#work1
                h2.major 變羊記
                span.image.main 
                p 
            // 作品2
            article#work2
                h2.major 解凍人生
                sapn.image.main
                p
            // 關於我們
            article#about
                h2.major 關於我們
                sapn.image.main
                p
            // 聯絡我們
            article#contact
                h2.major 聯絡好識
                sapn.image.main
                p

        //footer
        footer#footer
                p.copyright &copy; Untitled. Design: 
                    a(href="#") HTML5 UP.
    //bg
    section#bg.fullscreen
        video(playsinline autoplay muted loop)
            //source(src="assets/video/TheShapeOfWater.webm",type="video/webm")
            source(poster="assets/video/TheShapeOfWater.mp4",type="video/webm")

    //scripts
    script(src="assets/js/jquery.min.js")
    script(src="assets/js/skel.min.js")
    script(src="assets/js/util.js")
    script(src="assets/js/main.js")